<!doctype html>
<html>

<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% block heading %}{% endblock %}
        </div>
    </div>

    <div class="container" id="form_container">
        <form id="theForm" action="{{ form_url }}" method="GET" onsubmit="return preventRepeatedSubmission();">
            <div class="form-group">
                <label for="name">匿称：</label>
                <input class="form-control" type="text" inputmode="text" name="name" required>
                <small class="form-text text-muted">必填*</small>
            </div>
            {% block form_questions %}{% endblock %}
            <input type="text" name="formid" value="{{ form_id }}" hidden>
            <input type="text" name="thank" value="已完成, 谢谢！" hidden>
            <input class="btn btn-info btn-lg" type="submit" value="提交结果" id="submitBtn">
            <p class="text-muted">
                <small>如果提交结果时发现缴不出去，请回头检查是否有填入匿称、是否每一题都有作答到，谢谢。</small>
            </p>
        </form>
    </div>

    <div class="container" style="padding-top: 60px;">
        <p class="text-center text-muted">&copy; Tencent AI Lab</p>
    </div>

    <script type="text/javascript">
        function preventRepeatedSubmission() {
            document.getElementById('submitBtn').disabled = true;
            setTimeout("submitBtn.disabled=false;", 5000);
            return true;
        };
    </script>
</body>

</html>
