{% extends "base.html.jinja2" %}
{% block heading %}
    <h1 class="display-4">MOS 实验</h1>
    <p class="lead">合成语音品质评估</p>
    <hr class="my-4">
    <p>
        感谢您参与本次实验！
    </p>
    <p>
        在这个实验中，我们使用电脑合成人类语音。
        以下的音档中，包含了真实的录音以及合成的声音，并且每句话都有附上文字稿。
        请受试者使用耳机聆听，并根据每个音档的品质，给予以下几种评分：
        <ul>
            <li>１（Unsatisfactory） Very annoying, distortion is objectionable.</li>
            <li>２（Poor） Annoying distortion, but not objectionable.</li>
            <li>３（Fair） Perceptible distortion, slightly annoying.</li>
            <li>４（Good） Slight perceptible level of distortion, but not annoying.</li>
            <li>５（Excellent） Imperceptible level of distortion.</li>
        </ul>
    </p>
{% endblock %}
{% block form_questions %}
    {% for question in questions %}
        <div class="card form-group">
            <div class="card-header">{{ question.title }}</div>
            <div class="card-body">
                <p>
                    <audio controls src="{{ question.audio_path }}">
                        Your browser does not support the audio element.
                    </audio>
                </p>
                <p>
                Text: {{ question.text }}
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_1" value="1" required>
                    <label class="form-check-label" for="{{ question.name }}_1">１（Unsatisfactory）</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_2" value="2" required>
                    <label class="form-check-label" for="{{ question.name }}_2">２（Poor）</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_3" value="3" required>
                    <label class="form-check-label" for="{{ question.name }}_3">３（Fair）</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_4" value="4" required>
                    <label class="form-check-label" for="{{ question.name }}_4">４（Good）</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_5" value="5" required>
                    <label class="form-check-label" for="{{ question.name }}_5">５（Excellent）</label>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
